$white: #fff;
$primary-btn: #008CBA;
$secondary-btn: $white;
$form-error: #dc2a2a;
$light-grey: #ddd;
$modal: #fefefe;
$border: #333333;
$font-color: #888;
$close-icon: #aaaaaa;
$close-hover: #919191;
$grey: #eeeeee;